<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Upsideo.Finaveo2.Queries.Documents.WebApi" value="http://localhost:26093" />
    <add key="Upsideo.Finaveo2.Commands.Documents.WebApi" value="http://localhost:60803" />
    <add key="Upsideo.Finaveo2.Queries.ProspectClient.WebApi" value="http://localhost:61084" />
    <add key="Upsideo.Finaveo2.Queries.Ouverture.Compte.WebApi" value="http://localhost:14660/" />
    <add key="Upsideo.Finaveo2.Commands.Logs.WebApi" value="http://localhost:51016/" />
    
    <add key="Finaveo2.Url.WebApi.GetDocuments.By.StatutOcr" value="documentjustificatif/docjustByStatutOcr?StatutOcr=" />
    <add key="Finaveo2.Url.WebApi.Update.Document" value="documentjustificatif/update" />
    <add key="Finaveo2.Url.WebApi.Tiers.GetTiersById" value="cpt/tier/getTierById?idTiers=" />
    <add key="Finaveo2.Url.WebApi.Ouverture.Compte.GetOuvertureCompteById" value="odc/getById?idOuvertureCompte=" />
    <add key="Finaveo2.Url.WebApi.Logs.Create" value="log/errorLogs/create" />
    <add key="Finaveo2.Url.WebApi.Tier.Version" value="/api/v1/" /> 
    <add key="DematerializationRootPath" value = "C:\WEBROOT\DEMAT_FINAVEO2\" />


    <!-- OCR CTMS AUTH DATA -->
    <add key="OCR_CTMS_login" value="wsupsideo"/>
    <add key="OCR_CTMS_password" value="Upsideo.Ctms$$2019"/>

    <add key="Api.Domaine.Ctms" value="https://partenaires.easyconform.com" />
    <add key="Api.Authentification.Ctms" value="/ws22/authenticate/" />
    <add key="Api.Create.Folder.Ctms" value="/ws22/dossier/" />
    <add key="Api.Send.File.Check.Ctms" value="/ws/dossier/" />
  </appSettings>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
</configuration>