@model TunisianApp.Models.ListClientsModel
@{
    ViewBag.Title = "Test";
}

<h2>Test</h2>
@*@{ foreach (var item in Model)
    {
        <h5>item.Nom</h5>
        <h5>item.Prenom</h5>
        <h5>item.Age</h5>
    }
}*@


